---

- name: Check whether your OS is supported
  ansible.builtin.assert:
    quiet: true
    that:
      - ansible_os_family | lower in ddns__os_supperted | list
    fail_msg: Your OS is not supported

- name: Install curl
  ansible.builtin.apt:
    name: curl
    state: present
    update_cache: "{{ ddns__force_update_repo }}"

- name: Clean first
  ansible.builtin.file:
    path: /etc/ddns.d/
    state: absent
  when: ddns__clean_all

- name: Upload files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
    mode: "{{ item.mode }}"
    directory_mode: "0755"
  loop:
    - src: example.conf
      dst: /etc/ddns.d/
      mode: "0644"
    - src: ddns.service
      dst: /etc/systemd/system/
      mode: "0644"
    - src: update-ddns.sh
      dst: /usr/libexec/ddns/
      mode: "0755"
  loop_control:
    label: "{{ item.src }}"
  notify: handler_restart_ddns

- name: Add timer
  ansible.builtin.template:
    src: ddns.timer.j2
    dest: /etc/systemd/system/ddns.timer
    mode: "0644"
  notify: handler_restart_ddns

- name: Add domains
  ansible.builtin.template:
    src: domain.conf.j2
    # dest: "/etc/ddns.d/{{ dom.domain | b64encode(urlsafe=true) }}.conf"
    dest: "/etc/ddns.d/{{ dom.domain }}.conf"
    mode: "0640"
  vars:
    ddns__domain: "{{ dom.domain }}"
    ddns__url4: "{{ dom.url4 | default('') }}"
    ddns__url6: "{{ dom.url6 | default('') }}"
  loop: "{{ ddns__domains }}"
  loop_control:
    label: "{{ dom.domain }}.conf"
    loop_var: dom
  notify: handler_restart_ddns
